@font-face {
  font-family: "Metropolis";
  src: url(/fonts/Metropolis-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis";
  src: url(/fonts/Metropolis-ExtraBold.otf);
  font-weight: 800;
}

@font-face {
  font-family: "Metropolis";
  src: url(/fonts/Metropolis-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: url(/fonts/Metropolis-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url(/fonts/Metropolis-SemiBold.otf);
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Metropolis, serif;
  margin: 0;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.container1 {
  max-width: 1080px;
  margin: 0 auto;
}

/* header */
.header {
  padding-top: 27px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: 18px;
}

.nav-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  margin-right: 50px;
}

.nav-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5E5C6C;
}

.hidden {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: none;
}

.menu-all {
  position: relative;
}

.menu-container {
  position: absolute;
  width: 200px;
  height: 170px;
  top: 30px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border: 1px solid #232427;
  z-index: 8;
  background-color: #fff;
}

.hidden {
  display: none;
}

.menu-link {
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 30px;
  color: #232427;
}

.line {
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: black;
  margin-bottom: 5px;
}

.zero {
  margin: 0;
}

.twitter-logo, .discord-logo {
  margin-right: 8px;
}

.btn {
  border-radius: 4px;
  background-color: #2962EF;
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  width: 110px;
  height: 40px;
}

.btn-primary:hover {
  opacity: .7;
}

.one {
  padding-top: 16px;
  position: relative;
}

.one-content {
  padding-top: 100px;
  padding-left: calc((100% - $container) / 2);
}

.one-title {
  width: 387px;
  height: 124px;
  font-size: 48px;
  font-weight: bold;
  color: #232427;
  margin-bottom: 15px;
}

.one-text1 {
  width: 530px;
  font-weight: 500;
  font-size: 14px;
  color: #9998A4;
  margin-bottom: 62px;
}

.one-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 130px;
}

.demo {
  margin-left: 19px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: #2962EF;
}

.btn {
  width: 144px;
  height: 40px;
}

.btn:hover {
  opacity: .7;
}

.one-text2 {
  font-size: 14px;
  font-weight: 500;
  color: #9998A4;
  margin-bottom: 25px;
}

.one-stats-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.one-stats-item {
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.one-stats-text1 {
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 500;
}

.one-stats-text2 {
  font-size: 14px;
  font-weight: 500;
}

.one-img {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: -1;
}

.two {
  padding-top: 250px;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  width: 346px;
  height: 352px;
  border: 1px solid #EFEFF4;
  border-radius: 8px;
  margin-right: 10px;
  padding-left: 40px;
  padding-top: 60px;
  padding-left: 40px;
  margin-bottom: 50px;
}

.main-card {
  border: none;
}

.circle {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #FAFBFD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.card-title {
  font-weight: 800;
  font-size: 18px;
  color: #232427;
  margin-bottom: 18px;
}

.main-card-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-text {
  font-weight: 500;
  font-size: 14px;
  color: #9998A4;
}

.three {
  background-color: #FAF9FA;
  padding: 50px 0;
}

.three-title {
  margin-bottom: 50px;
  text-align: center;
}

.logo-group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-logo {
  margin-right: 12px;
}

.logo-group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  padding: 0 100px;
}

.four {
  padding-top: 140px;
  margin-bottom: 110px;
}

.four-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #232427;
}

.four-text {
  font-weight: 500;
  font-size: 14px;
  color: #5E5C6C;
  margin-bottom: 45px;
}

.four-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.four-card {
  width: 255px;
  height: 217px;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.four-card:hover {
  background-color: #eae2e2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.shadow {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.4);
}

.card-img {
  margin-bottom: 15px;
}

.four-card-title {
  margin-bottom: 10px;
}

.card-link {
  text-decoration: none;
  color: white;
  margin-right: 14px;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #232427;
  padding-top: 97px;
  padding-bottom: 80px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-one, .footer-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-logo {
  color: white;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-text {
  color: white;
  margin-bottom: 96px;
  font-weight: 500;
  font-size: 14px;
  width: 347px;
}

.made, .year {
  color: #D6D5DF;
  font-weight: 400;
  font-size: 14px;
}

.made {
  margin-bottom: 7px;
}

.input-field {
  position: relative;
  width: 344px;
  margin-bottom: 10px;
}

.subscribe-text {
  color: white;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}

.input {
  width: 344px;
  height: 56px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 14px;
}

.send {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #2962EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.under-input {
  width: 344px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 34px;
}

.logo-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-container1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5E5C6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

.logo-link {
  text-decoration: none;
}

@media (max-width: 1160px) {
  .container {
    max-width: 900px;
  }
  .logo-group2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 750px;
  }
  .one-text2 {
    display: none;
  }
  .logo-group1, .logo-group2 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px;
  }
  .company {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 550px;
  }
  .one-img {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .menu {
    display: block;
  }
  .footer-text {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 400px;
  }
  .one-text1 {
    width: 250px;
  }
  .one-stats-items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .one-stats-item {
    margin: 0;
  }
  .input, .input-field, .under-input, .logo-links {
    width: 200px;
  }
  .link-container1 {
    width: 40px;
    height: 40px;
  }
  .link-container1 {
    margin: 0;
  }
  .logo-links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 426px) {
  .container {
    max-width: 300px;
  }
  .one-title {
    font-size: 28px;
  }
  .one-stats-text1 {
    font-size: 24px;
  }
  .comp-name {
    text-align: center;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-one {
    margin-bottom: 20px;
  }
  .footer-text {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */